#header {
    display: flex;
    justify-content: space-between;

    .header-right {
        margin-top: 8px;
    }

    h1 {
        font-size: 45px;
        font-weight: lighter;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(84, 69, 69);
    }

    .header-left {
        display: flex;
        margin-top: 8px;
        position: relative;
        .nav{
            position: absolute;
            bottom: -120%;
            right: -220px;
            width: 40%;
            height: 50%;
            transition: right 0.5s ease;
        }

        .menu {
            display: flex;
            width: 400px;
            justify-content: space-around;


            li {

                font-size: 15px;
                font-weight: lighter;
                color: rgb(86, 83, 83);

                a {

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    height: 50px;

                    i {
                        text-align: center;
                        margin-bottom: 5px;
                    }
                }

                a:hover {
                    opacity: 60%;
                }
            }




        }

        //  ハンバーガーメニュー
        .hamburger {
            width: 30px;
            height: 30px;
            margin: 20px auto;

            span::after,
            span::before {
                content: "";
                position: absolute;
                left: 0;
                top: -9px;

            }

            span::after {
                top: 9px;

            }

            span {
                position: relative;
                display: block;

            }

            span,
            span::after,
            span::before {
                width: 100%;
                height: 2px;
                background-color: rgb(78, 67, 67);
                transition: all 0.5s;
                /*←アニメーション*/
                backface-visibility: hidden;
                border-radius: 2px;
            }
        }
    }

    .hamburger.on span {
        background-color: transparent;
    }

    .hamburger.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }
    .hamburger.on + .nav{
        right: 0;

    }

}


// メインスライダー
.slide-items {
    width: 70%;
    height: 40%;
    margin: 80px auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10%;

    }
}

No newline at end of file

/*タブ実装*/
.tab_box {
    margin-top:100px;
    margin-bottom: 50px;

}

.tab_box .btn_area {
    margin: 0 10px;
    display: -webkit-box;
    display: flex;
}

.tab_box .tab_btn {
    width: 188px;
    padding: 8px 0;
    color: #333;
    background: #f5f7f8;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.tab_box .tab_btn+.tab_btn {
    margin-left: 8px;
}

.tab_box .tab_btn:hover {
    background-color: #dce1e4;
}

.tab_box .tab_btn.active {
    background: #07539f;
    color: #fff;
}

.tab_box .panel_area {
    border: solid 1px #e3ebf3;
    padding: 20px;
}

.tab_box .tab_panel {
    display: none;
}

.tab_box .tab_panel.active {
    display: block;
}